:root {
    --scale:1;
}
html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.scaleWrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.backgroundTransition {
    position: absolute;
    opacity: 0;
    transition: opacity 1.5s ease;
    -webkit-transition: opacity 1.5s ease;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.backgroundImage {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.scaleContainer {
    width: calc(1920px*var(--scale));
    height: calc(1080px*var(--scale));
    overflow: hidden;
    transform-origin: top center;
    position: absolute;
    top: calc(133px*var(--scale));;
}

.topbar {
    background-color: darkblue;
    text-align: center;
    box-shadow: calc(10px*var(--scale)) calc(10px*var(--scale)) calc(10px*var(--scale)) rgba(0,0,0,0.2);
    transform-origin: top center;
}
.topbar h1 {
    font-weight: 800;
    color: white;
    padding: 0;
    margin: 0;
}
.topbar .university {
    padding-top: calc(15px*var(--scale));
    font-size: calc(50px*var(--scale));
}
.topbar .developers {
    font-size: calc(25px*var(--scale));
    padding-bottom: calc(15px*var(--scale));
}
.content {
    padding: calc(15px*var(--scale));
}
.pageTitle {
    text-align: center;
    color: darkcyan;
    font-size: calc(30px*var(--scale));
    margin-bottom: calc(15px*var(--scale));
}

.loginBox {
    background-color: darkcyan;
    color: white;
    padding: calc(20px*var(--scale));
    margin: calc(15px*var(--scale)) auto;
    border-radius: calc(40px*var(--scale));
    max-width: calc(750px*var(--scale));
    box-shadow: calc(15px*var(--scale)) calc(15px*var(--scale)) calc(15px*var(--scale)) rgba(0,0,0,0.5);
}

.loginBox h2 {
    text-align: center;
    font-size: calc(35px*var(--scale));
    color: white;
    font-weight: bold;
}
.formGroup {
    margin-bottom: calc(30px*var(--scale));
    margin-left: calc(118px*var(--scale));
    margin-right: calc(75px*var(--scale));
}
.formGroup label {
    display: block;
    font-size: calc(25px*var(--scale));
}
.formGroup input {
    font-size: calc(25px*var(--scale));
    min-width: calc(500px*var(--scale));
}
.togglePassword {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
}
.togglePassword img {
    max-width: calc(50px*var(--scale));
    max-height: calc(50px*var(--scale));
    transform: translateY(calc(-8px*var(--scale)));
    object-fit: contain;
}
.errorDisplay {
    text-align: center;
    font-size: calc(25px*var(--scale));
}
.submit {
    display: flex;
    margin: calc(25px*var(--scale)) auto;
    background-color: darkblue;
    border: none;
    cursor: pointer;
    color: white;
    min-height: calc(60px*var(--scale));
    min-width: calc(175px*var(--scale));
    justify-content: center;
    align-items: center;
    font-size: calc(25px*var(--scale));
    transition: background-color 0.3s ease;
    border-radius: calc(40px*var(--scale));
}
.submit:hover {
    background-color: rgba(0, 0, 139, 0.5);
}